{% extends "accounts/user_settings_base.html" %}

{% block page %}
	
	<div class="span-18 last">
		<h3>Профиль {% if form.instance.pk %}{{ form.instance.get_profile.get_name }}{% endif %}</h3>
	</div>
	
	<form action="" method="post">
		{% csrf_token %}
		<div class="form span-18 last">
			<div class="non_field_errors span-18 last">
				{{ form.non_field_errors }}
			</div>
			{# {% for field in form %} #}
			{# 	<div class="field span-18 last"> #}
			{# 		<div class="label align-right span-4"> #}
			{# 			{{ field.label_tag }} #}
			{# 		</div> #}
			{# 		<div class="input align-left span-6"> #}
			{# 			{{ field }} #}
			{# 		</div> #}
			{# 		<div class="input_errors align-left span-8 last"> #}
			{# 			{{ field.errors }} #}
			{# 		</div> #}
			{# 	</div> #}
			{# {% endfor %} #}
			
			<div class="field span-18 last">
				<div class="label align-right span-4">
					<label for="id_first_name">Имя</label>
				</div>
				<div class="input align-left span-6">
					{{ form.first_name }}
				</div>
				<div class="input_errors align-left span-8 last">
					{{ form.first_name.errors }}
				</div>
			</div>
			
			<div class="field span-18 last">
				<div class="label align-right span-4">
					<label for="id_last_name">Фамилия</label>
				</div>
				<div class="input align-left span-6">
					{{ form.last_name }}
				</div>
				<div class="input_errors align-left span-8 last">
					{{ form.last_name.errors }}
				</div>
			</div>
			
			<div class="field span-18 last">
				<div class="label align-right span-4">
					<label for="id_email">e-mail</label>
				</div>
				<div class="input align-left span-6">
					{{ form.email }}
				</div>
				<div class="input_errors align-left span-8 last">
					{{ form.email.errors }}
				</div>
			</div>
			
			<div class="field submit span-18 last">
				<input type="submit" class="submit" value="Сохранить" />
			</div>
		</div>
	</form>
{% endblock %}