{% extends "accounts/user_settings_base.html" %}

{% block page %}
	<form action="" method="post">
		{% csrf_token %}
		<div class="form span-18 last">
			<div class="non_field_errors span-18 last">
				{{ form.non_field_errors }}
			</div>
			{% for field in form %}
				<div class="field span-18 last">
					<div class="label align-right span-4">
						{{ field.label_tag }}
					</div>
					<div class="input align-left span-6">
						{{ field }}
					</div>
					<div class="input_errors align-left span-8 last">
						{{ field.errors }}
					</div>
				</div>
			{% endfor %}
			<div class="field submit span-18 last">
				<input type="submit" class="submit" value="Изменить" />
			</div>
		</div>
	</form>
{% endblock %}