{% extends "accounts/base.html" %}
{% load account_fields_render %}

{% block content %}
	
	<h3>Профиль {{ userprofile.user.username }}</h3>
	
	<ul>
		{% render_field "День рождения" userprofile.birthday %}
		{% render_field "Пол" userprofile.get_gender_display %}
		{% if userprofile.avatar %}
			<img src="{{ userprofile.avatar.url }}" />
		{% endif %}
		{% render_field "Дополнительно" userprofile.description %}
	</ul>
	
	{% if user.is_authenticated and user.pk == userprofile.user.pk %}
		<a href="/accounts/profile/edit">Редактировать</a>
	{% endif %}
{% endblock %}