{% extends "accounts/base.html" %}
{% load account_fields_render %}

{% block content %}
	
	<h3>Профиль {{ userprofile.user.username }}</h3>
	
	<ul>
		{% render_field userprofile.birthday "День рождения" %}
		{% render_field userprofile.get_gender_display "Пол" %}
		{% if userprofile.avatar %}
			<img src="{{ userprofile.avatar.url }}" />
		{% endif %}
		{% render_field userprofile.description "Дополнительно" %}
	</ul>
	
	{% if user.pk == userprofile.user.pk %}
		<ul class="menu">
			<li>
				<a href="{% url accounts_my_profile_edit %}">Редактировать</a>
			</li>
			
			<li>
			{% if not user.realtor_set.exists %}
				<a href="{% url accounts_my_profile_realtor_new %}">Обновиться до риэлтора</a>
			{% else %}
				<a href="{% url accounts_my_profile_realtor_edit %}">Профиль риэлтора</a>
			{% endif %}
			</li>
		</ul>
	{% endif %}
	
{% endblock %}