{% extends "buildings/base.html" %}
{% load building_fields_render %}

{% block top_panel %}
	{% if show_object_controls %}
		<a href="{{ object.get_absolute_url }}edit">Редактировать</a>
	{% endif %}
{% endblock %}

{% block content %}
	<ul class="address">
		{% render_field object.town "Город" %}
		{% render_field object.street "Улица" %}
		{% render_field object.house_id "Дом" %}
		{% render_field object.building_id "Строение" %}
		
		{% block address %}{% endblock %}
	</ul>
	
	<ul class="parameters">
		{% render_field object.total_area "Общая площадь" "м<sup>2</sup>" %}
		
		{% block parameters %}{% endblock %}
	</ul>
	
	<ul class="building_type">
		{% block building_type %}{% endblock %}
	</ul>
	
	<ul class="additional_parameters">
		{% block additional_parameters %}{% endblock %}
	</ul>
	
	<ul class="remoteness">
		{% block remoteness %}{% endblock %}
	</ul>
	
	<ul class="price">
		{% render_field object.price "Цена" object.currency %}
		
		{% block price %}{% endblock %}
	</ul>
	
	<ul class="description">
		{% render_field object.description "Дополнительно" %}
		
		{% block description %}{% endblock %}
	</ul>
{% endblock %}
