{% extends "buildings/base.html" %}
{% load building_fields_render %}

{% block content %}
	<div class="span-24 last">
		<h3>Квартира</h3>
	</div>
	{% if show_object_controls %}
		<div id="object_controls" class="span-24 last">
			<ul class="menu">
				<li><a href="{% url buildings_object_edit location object_type object.id %}">Редактировать</a></li>
				<li><a href="{% url buildings_object_delete location object_type object.id %}">Удалить</a></li>
			</ul>
		</div>
	{% endif %}
	
	<div class="span-8">
		<div class="section_title">Адрес</div>
		<ul class="address">
			{% render_field object.town "Город" %}
			{% render_field object.street "Улица" %}
			{% render_field object.house_id "Дом" %}
			{% render_field object.building_id "Строение" %}
		
			{% block address %}{% endblock %}
		</ul>
		
		<div class="section_title">Удаленность</div>
		<ul class="remoteness">
			{% block remoteness %}{% endblock %}
		</ul>
		
		{% if object.nearest_metro_stations %}
			<div class="section_title">Ближайшие станции метро</div>
			<ul class="nearest_metro_stations">
				{% for station in object.nearest_metro_stations.all %}
					<li>{{ station.title }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		
		<div class="section_title">Тип здания</div>
		<ul class="building_type">
			{% block building_type %}{% endblock %}
		</ul>
		
		<div class="section_title">Цена</div>
		<ul class="price">
			{% render_field object.price "Цена" object.currency %}
		
			{% block price %}{% endblock %}
		</ul>
	</div>
	
	<div class="span-8">
		<div class="section_title">Параметры</div>
		<ul class="parameters">
			{% render_field object.total_area "Общая площадь" "м<sup>2</sup>" %}
		
			{% block parameters %}{% endblock %}
		</ul>
		
		<div class="section_title">Дополнительные параметры</div>
		<ul class="additional_parameters">
			{% block additional_parameters %}{% endblock %}
		</ul>
		
		<div class="section_title">Сведения о продавце</div>
		<ul class="realtor">
			<li>
				Риэлтор:
				<span>
					<a href="{{ object.owner.get_profile.get_absolute_url }}">{{ object.owner.get_profile.get_name }}</a>
				</span>
			</li>
		</ul>
	</div>
	
	<div class="span-8 last">
		TODO: Тут будет карта
	</div>
	
	{% if object.description %}
		<div class="span-24 last">
			<div class="section_title">Дополнительно</div>
			<div class="description">
				{{ object.description }}
			</div>
		</div>
	{% endif %}
	
	{% if object.images %}
		{% block head %}
			<script type="text/javascript" src="{{ STATICFILES_URL }}galleria/src/galleria.js"></script>
			<script type="text/javascript" src="{{ STATICFILES_URL }}galleria/src/themes/classic/galleria.classic.js"></script>
		{% endblock %}
		
		<div class="span-24 last">
			<div class="section_title">Фотографии</div>
			<div id="gallery" class="images gallery">
				{% for image in object.images.all %}
					<a href="{{ image.image.url }}"><img src="{{ image.thumbnail.url }}" title="{{ image.title }}"/></a>
				{% endfor %}
			</div>
		</div>
		<script type="text/javascript">
			$("#gallery").galleria({
				preload: 3,
				
				show_info: true,
				show_counter: false,
				
				min_scale_ratio: 1,
				max_scale_ratio: 1,
				
			});
		</script>
	{% endif %}
{% endblock %}
