{% extends "buildings/detail/building_detail_base.html" %}
{% load building_fields_render %}

{% block parameters %}
	{% render_field object.kitchen_area "Площадь кухни" "м<sup>2</sup>" %}
	{% render_field object.rooms_count "Кол-во комнат" %}
	{% render_field object.floor "Этаж" %}
	{% render_field object.floors_count "Всего этажей" %}
{% endblock %}

{% block building_type %}
	{% render_field object.house_type "Тип дома" %}
	{% render_field object.renovation_type "Тип ремонта" %}
	{% flag_field object.is_new "Новостройка" %}
{% endblock %}

{# {% block additional_parameters %} #}
{# 	{% render_field object.balcony_count "Кол-во балконов" %} #}
{# 	{% render_field object.bathrooms_count "Кол-во ванных" %} #}
{# 	{% flag_field object.furniture "Мебель" %} #}
{# 	{% flag_field object.fridge "Холодильник" %} #}
{# 	{% flag_field object.wash_machine "Стиральная машина" %} #}
{# 	{% flag_field object.separated_bathroom "Раздельный санузел" %} #}
{# 	{% flag_field object.parking "Парковка" %} #}
{# 	 #}
{# 	{% block flat_additional_parameters %}{% endblock %} #}
{# {% endblock %} #}