ul.menu li{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}

.not_read{
    font-weight: bold;
}
tr.not_read td{
    font-weight: bold;
}

div.images.gallery{
    height:460px;
}