#header_content{
    font-size: 1.5em;
    height: 50px;
}
#header_content a{
    color: black;
    text-decoration: none;
}
#header_content a:hover{
    color: #383838;
}

ul.messages_list{
    list-style-type: none;
}


.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}