{% extends "buildings/base.html" %}

{% block top_panel %}
	{% if object_types %}
		<ul class="menu">
			{% for k, v in object_types %}
				<li>
					{% if k == object_type %}
						{{ v }}
					{% else %}
						<a href="{% url buildings_user_object_list user_id location k %}">{{ v }}</a>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
	
	
	{% if locations %}
		<ul class="menu">
			{% for k, v in locations %}
				<li>
					{% if k == location %}
						{{ v }}
					{% else %}
						<a href="{% url buildings_user_object_list user_id k object_type %}">{{ v }}</a>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}

{% block content %}
	{% if show_management_panel %}
		<div id="management_panel" class="span-24 last">
			<ul class="menu">
				{% block management_panel_items %}{% endblock %}
			</ul>
		</div>
	{% endif %}
	
	<div id="object_list" class="span-24 last">
		{% if object_list %}
			{% block objects_table %}{% endblock %}
		{% else %}
			<h3>Ничего не найдено</h3>
		{% endif %}
	</div>
{% endblock %}