{% extends "buildings/base.html" %}

{% block content %}
	{% if locations %}
		{% for k, v in locations %}
			{% if k == location %}
				{{ v }}
			{% else %}
				<a href='/buildings/{{ deal_type }}/flats/{{ k }}/new'>{{ v }}</a>
			{% endif %}
		{% endfor %}
	{% endif %}
	
	{% if form.instance.pk %}
		<a href="{% url images_object_image_list content_type=content_type object_id=form.instance.pk %}">Фотографии</a>
	{% endif %}
	
	<form action="" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Сохранить" />
	</form>
{% endblock %}
