{% extends "buildings/sellflat_list_base.html" %}

{% block objects_table %}
	<table>
		<thead>
			<col/>
			<col/>
			<col/>
			<col/>
			<col/>
			<col/>
			
			<tr>
				<th>№</th>
				<th>Город</th>
				<th>Адрес</th>
				<th>Общая площадь</th>
				<th>Цена</th>
				<th>Дополнительно</th>
			</tr>
		</thead>
		<tbody>
			{% for flat in object_list %}
				<tr>
					<td><a href="{% url buildings_sellflat_detail flat.pk %}">{{ forloop.counter }}</a></td>
					<td>{{ flat.town }}</td>
					<td>{{ flat.get_address }}</td>
					<td>{{ flat.total_area }} м<sup>2</sup></td>
					<td>{{ flat.price }} {{ flat.currency }}</td>
					<td>{{ flat.description }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}