{% extends "buildings/form_base.html" %}

{% block sidebar_items %}
	{% for k, v in locations %}
		<li>
			{% if k == location %}
				{{ v }}
			{% else %}
				<a href="{% url buildings_object_new k object_type %}">{{ v }}</a>
			{% endif %}
		</li>
	{% endfor %}
	
	{% if form.instance.pk %}
		<li><a href="{% url images_object_image_list object_type form.instance.pk %}">Фотографии</a></li>
	{% endif %}
{% endblock %}

{% block page %}
	<div class="span-18 last">
		<h3>
			{% if not form.instance.pk %}
				{% for k, v in object_types %}
					{% if k == object_type %}
						{{ v }}
					{% else %}
						<a href="{% url buildings_object_new location k %}">{{ v }}</a>
					{% endif %}
				{% endfor %}
			{% else %}
				Изменение объекта
			{% endif %}
		</h3>
	</div>
	
	<form action="" method="post">
		{% csrf_token %}
		<div class="form span-18 last">
			<div class="non_field_errors span-18 last">
				{{ form.non_field_errors }}
			</div>
			{% for field in form %}
				<div class="field span-18 last {% if field.errors %}error{% endif %}">
					{% if field.errors %}
						<div class="input_errors_top align-left prepend-4 span-14 last">
							{{ field.errors }}
						</div>
					{% endif %}
					<div class="label align-right span-4">
						{{ field.label_tag }}
					</div>
					<div class="input align-left span-6">
						{{ field }}
					</div>
					<div class="field-info align-left span-8 last">
						{{ field.help_text }}
					</div>
				</div>
			{% endfor %}
			<div class="field submit span-18 last">
				<input type="submit" class="submit" value="Сохранить" />
			</div>
		</div>
	</form>
{% endblock %}
