<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
	<head>
		
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="ru-RU" />
		
		<title>
			{% block title %}Риэлторы Москвы{% endblock %}
		</title>
		
		<meta name="ROBOTS" content="ALL" />
		<meta name="keywords" content="Realtors, Flats, Moscow" />
		<meta name="description" content="База данных риэлторов Москвы" />
		
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
		
		<link href="{{ STATICFILES_URL }}css/blueprint/screen.css" rel="stylesheet" type="text/css" media="screen, projection" />
		<link href="{{ STATICFILES_URL }}css/blueprint/print.css" rel="stylesheet" type="text/css" media="print" />
		<!--[if lt IE 8]><link href="{{ STATICFILES_URL }}css/blueprint/ie.css" rel="stylesheet" type="text/css" media="screen, projection" /><![endif]-->
		
		<link href="{{ STATICFILES_URL }}css/common.css" rel="stylesheet" type="text/css" media="screen, projection" />
		<link href="{{ STATICFILES_URL }}css/main.css" rel="stylesheet" type="text/css" media="screen, projection" />
		<link href="{{ STATICFILES_URL }}css/forms.css" rel="stylesheet" type="text/css" media="screen, projection" />
		<link href="{{ STATICFILES_URL }}css/tables.css" rel="stylesheet" type="text/css" media="screen, projection" />
		
		{% block head %}{% endblock %}
		
	</head>
	
	<body>
		
		<div id="container" class="container">
			
			<div id="main_container" class="span-24 last">
			
				<div id="header_container" class="span-24 last">
					<div id="header" class="span-16">
						<div id="header_content">
							{% block header %}
								<a href="/">Риэлторы москвы</a>
							{% endblock %}
						</div>
					</div>
					
					<div id="auth_panel" class="span-8 last">
						<div id="auth_panel_content">
							{% if user.is_authenticated %}
								Hello, <a href="{{ user.get_profile.get_absolute_url }}">{{ user.username }}</a>.
								<a href="{% url django.contrib.auth.views.logout %}">выйти</a>
							{% else %}
								<form action="{% url django.contrib.auth.views.login %}" method="post">
									{% csrf_token %}
									<input type="text" name="username" />
									<input type="password" name="password" />
									<input type="submit" value="Вход" />
								</form>
								<a href="{% url accounts.views.register %}">Регистрация</a>
							{% endif %}
						</div>
					</div>
					
					<div id="top_submenu" class="span-16">
						<div id="top_submenu_content">
							<ul class="menu">
								<li>
									<a href="{% url buildings_object_search %}">Поиск</a>
								</li>
								{% if user.is_authenticated %}
									<li>
										<a href="{% url buildings_user_object_list user.pk %}">Мои объекты</a>
									</li>
								{% endif %}
								<li>
									<a href="{% url accounts_agency_list %}">Агентства</a>
								</li>
							</ul>
						</div>
					</div>
					<div id="top_submenu_auth" class="span-8 last">
						<div id="top_submenu_auth_content">
							{% if user.is_authenticated %}
								<span class="{% if inbox_not_read_count %}not_read{% endif %}">
									<a href="{% url usermessages_inbox %}">Сообщения</a>
									{% if inbox_not_read_count %}
										({{ inbox_not_read_count }})
									{% endif %}
								</span>
							{% endif %}
						</div>
					</div>
					
					<div id="sub_header" class="span-24 last">
						<div id="sub_header_content">
							{% block sub_header %}{% endblock %}
						</div>
					</div>
					
					<div id="top_panel" class="span-24 last">
						<div id="top_panel_content">
							{% block top_panel %}{% endblock %}
						</div>
					</div>
					
					{% if messages %}
						<div id="messages_container" class="prepend-1 span-22 append-1 last">
							<div class="messages" class="span-22 last">
								<ul class="messages_list">
									{% for message in messages %}
										<li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message|safe }}</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					{% endif %}
					
				</div>
			
				<div id="content_container" class="span-24 last">
					<div id="content">
						{% block content %}{% endblock %}
					</div>
				</div>
				
				<div id="footer_spacer" class="span-24 last"></div>
			</div>
		
			<div id="footer_container" class="span-24 last">
				<div id="footer" class="span-24 last">
					<div id="footer_content">
						{% block footer %}
							FOOTER
						{% endblock %}
					</div>
				</div>
			</div>
		
		</div>
		
	</body>
</http>
