<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
	<head>
		
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="ru-RU" />
		
		<title>Realtors</title>
		
		<meta name="ROBOTS" content="ALL" />
		<meta name="keywords" content="Realtors, Flats, Moscow" />
		<meta name="description" content="База данных риэлторов Москвы" />
		
		<link href="{{ STATICFILES_URL }}css/blueprint/screen.css" rel="stylesheet" type="text/css" media="screen" />
		
	</head>
	
	<body>
		
		<div id="main_container">
			
			<div id="header_container">
				<div id="header">
					{% block header %}
						HEADER
					{% endblock %}
					
					<div id="auth_panel">
						{% if user.is_authenticated %}
							Hello, {{ user.username }}. <a href="{% url django.contrib.auth.views.logout %}">выйти</a>
						{% else %}
							<form action="{% url django.contrib.auth.views.login %}" method="post">
								{% csrf_token %}
								<input type="text" name="username" />
								<input type="password" name="password" />
								<input type="submit" value="Вход" />
							</form>
						{% endif %}
					</div>
				</div>
			</div>
			
			<div id="content_container">
				<div id="content">
					{% block content %}{% endblock %}
				</div>
			</div>
			
			<div id="footer_spacer"></div>
		</div>
		
		<div id="footer_container">
			<div id="footer">
				{% block footer %}
					FOOTER
				{% endblock %}
			</div>
		</div>
		
	</body>
</http>
