{% extends "images/base.html" %}

{% block top_panel %}
	{% if show_object_controls %}
		<ul class="menu">
			<li><a href="{{ object.get_absolute_url }}">&larr; К параметрам объекта</a></li>
			<li><a href="{% url images_object_image_new content_type=content_type object_id=object_id %}">Добавить фото</a></li>
		</ul>
	{% endif %}
{% endblock %}

{% block content %}

	<div id="image_list" class="span-24 last">
		{% if images %}
			<ul class="menu">
				{% for image in images %}
					<li>
						<a href="{% url images_object_image_edit content_type=content_type object_id=object_id id=image.pk%}"><img src="{{ image.thumbnail.url }}" /></a>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<h3>У этого объекта нет загруженных фотографий</h3>
		{% endif %}
	</div>
{% endblock %}